body{
background-color: #F2EAE2;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.card{
    width: 300px;
height: 385px;
border-radius: 0px 10px 10px 0px;
background-color: #fff;
padding: 32px;

}
.photo{
    height: 450px;
    
}

.title{
color: #6C7289;
line-height: normal;
letter-spacing: 5px;
}

.text_container{
text-align: center;
}
.text_container h1{
    color: #1C232B;
}
.text_container p{
    color: #6C7289;
}


.price{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.price h2{
    color: #3D8168;
    
}
.price p{
    color: #6C7289 ;
    
} 


.button_container{
    display: flex;
    justify-content: center;

}

.button_container button{
    width: 236px;
    height: 48px;
    background-color: #3D8168;
    color: #ffffff;
    border: none;
    border-radius: 10px;

}